.nav-container {
    display: grid;
    align-content: center;
    justify-content: space-around;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    row-gap: 5px;
    background-color: #d9d9d9;
}

.active {
    color: #ffffff;
}

.active:hover {
    background-color: #3c6e71;
}